extends layout

block contenido
  if mensaje
    p(style="color: green")= mensaje
  else
    p Bienvenido a LogiFlow

  h2 Este sistema te permite gestionar áreas, empleados, roles y tareas de forma eficiente.
  
