@import url('./formulario.css');

h1 {
  text-align: center;
  margin-top: 1rem;
}

.form-tarea {
  border-color: #99c2e6;
  background-color: #f7fbff;
}

.btn-guardar {
  background-color: #005b96;
}

.btn-guardar:hover {
  background-color: #005b96;
}
