extends ../layout.pug

block content
  .detalle-rol
    h2 Detalle del Rol

    p
      span ID: 
      | #{rol.id}

    p
      span Nombre: 
      | #{rol.nombre}

    p
      span Descripción: 
      | #{rol.descripcion}

    .detalle-acciones
      a(href='/roles' class='btn-volver') Volver
