extends ../layout.pug

block content
  h1 Lista de Roles

  table(border='1', cellpadding='8', cellspacing='0', style='width: 100%; border-collapse: collapse')
    thead
      tr
        th ID
        th Nombre
        th Acciones
    tbody
      each rol in roles
        tr
          td= rol.id
          td= rol.nombre
          td
            form(action=`/roles/${rol.id}`, method='GET', style='display:inline')
              button(type='submit') Ver detalle
