doctype html
html
  head
    title Listado de Roles
  body
    h1 Roles registrados

    if datos && datos.length
      ul
        each rol in datos
          li
            p ID: #{rol.id}
            p Nombre: #{rol.nombre}
            p Descripción: #{rol.descripcion}
            hr
    else
      p No hay roles registrados.