extends ../layout.pug

block content
  h1 Editar área

  form(action=`/areas/editar/${area.id}?_method=PUT`, method='POST')
    div
      label(for='nombre') Nombre del área
      br
      input(type='text', name='nombre', id='nombre', value=area.nombre, required, style='width: 700px')

    br
    br

    div
      label(for='descripcion') Descripción
      br
      input(type='text', name='descripcion', id='descripcion', value=area.descripcion, required, style='width: 700px')

    br
    br

    div
      button(type='submit') Guardar cambios