extends ../layout.pug

block content
  h1 Crear nueva área

  form(action='/areas/nueva', method='POST')
    div
      label(for='nombre') Nombre del área
      br
      input( type='text', name='nombre', required, style='width: 700px')

    br
    br

    div
      label(for='descripcion') Descripción
      br
      input(type='text', name='descripcion', required,style='width: 700px')

    br
    br

    div
      button(type='submit') Crear Área