@import url('../layout.css');

/* Formulario de empleados */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

form div {
  width: 100%;
  max-width: 700px;
  text-align: left;
}

form label {
  font-weight: bold;
  color: #005b96;
}

form input,
form select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
