@import url('../layout.css');

/* Tabla de empleados */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #e6f0ff;
  color: #005b96;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
